#author-grid .team-member .images,
#team-grid .team-member .images {
  width: 106px;
  overflow: hidden;
}
#author-grid .team-member .picture,
#team-grid .team-member .picture {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background: #fff;
  border: 1px solid #e1e1e1;
  padding: 3px 3px 6px 3px;
}
#author-grid .team-member .links,
#team-grid .team-member .links {
  width: 106px;
  text-align: center;
}
#author-grid .team-member .links .link-icon,
#team-grid .team-member .links .link-icon {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.17) inset;
  -moz-box-shadow: 0 0 7px rgba(0, 0, 0, 0.17) inset;
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.17) inset;
  background: #f0f0f0;
  color: #999999;
  display: inline-block;
  height: 20px;
  text-align: center;
  width: 20px;
}
#author-grid .team-member .description,
#team-grid .team-member .description {
  margin-left: 125px;
  padding-right: 5.5%;
  text-align: justify;
}
#author-grid .team-member .description h3,
#team-grid .team-member .description h3 {
  margin: 0;
  padding: 0;
}
#author-grid .team-member .description .sub,
#team-grid .team-member .description .sub {
  color: #777;
}
#author-grid .team-member .description p,
#team-grid .team-member .description p {
  font-size: 14px;
}
