@import url("http://fonts.googleapis.com/css?family=Open+Sans:600,700,400");
.hello-button-outline {
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  background-color: rgba(255, 255, 255, 0);
  -webkit-box-shadow: inset 0 2px 32px rgba(0, 0, 0, 0.93);
  -moz-box-shadow: inset 0 2px 32px rgba(0, 0, 0, 0.93);
  box-shadow: inset 0 2px 32px rgba(0, 0, 0, 0.93);
}
body,
.pure-g [class*="pure-u"],
.pure-g-r [class*="pure-u"] {
  /* http://purecss.io/grids/#using-grids-with-custom-fonts */
  font-family: 'Open Sans', sans-serif;
}
#wlc #main #top {
  /* TODO: Apply lower resolution for mobile devices */
  background-image: url("#{resource['images:chalkboard-gray-500.png']}");
  /* Header */
  /* Teaser */
}
#wlc #main #top #header {
  max-width: 960px;
  margin: 0 auto;
}
#wlc #main #top #header #title {
  color: #fffefe;
  font-family: "Open Sans";
  font-size: 34px;
  font-weight: bold;
  /* TODO: Bind text-shadow to .desktop class */
  text-shadow: 1px -1px 1px rgba(0, 0, 0, 0.22);
}
#wlc #main #top #header #navi {
  float: right;
  list-style: none;
}
#wlc #main #top #header #navi li {
  float: left;
  margin-right: 6px;
}
#wlc #main #top #header #navi li a {
  color: white;
  padding: 3px;
  padding-left: 12px;
  padding-right: 12px;
}
#wlc #main #top #header #navi li.current-menu-item a {
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) inset;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) inset;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) inset;
  background: #3d4e5b;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#wlc #main #top #header #navi:after {
  clear: right;
}
#wlc #main #top #teaser {
  max-width: 960px;
  margin: 0 auto;
  color: white;
}
#wlc #main #top #teaser #nerd {
  margin-top: 1em;
  margin-bottom: 1em;
  /*padding: 1em;*/
}
#wlc #main #center {
  max-width: 960px;
  margin: 0 auto;
}
#wlc #main #bottom #footer {
  max-width: 960px;
  margin: 0 auto;
}
#wlc a {
  text-decoration: none;
}
#wlc span.highlight {
  color: #f2412e;
}
.button {
  display: inline-block;
  height: 26px;
  line-height: 26px;
}
.button.highlight {
  color: white;
  background-color: #f3715d;
  border: 1px solid rgba(0, 0, 0, 0.15);
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
.button span {
  font-size: 13px;
  margin-left: 10px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.17);
}
/* HELLO CONTENT */
#hello-content {
  margin-top: 80px;
}
#description {
  color: #f8f8f8;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  margin: 0 0 22px;
}
#title-text {
  color: #f8f8f8;
  font-weight: bold;
  font-size: 72px;
  line-height: 72px;
  margin: 0 0 36px;
}
.hello-button {
  height: 42px;
  line-height: 42px;
  text-align: center;
  color: #f8f8f8;
}
.hello-button#quickstart {
  width: 141px;
  /* Text */
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  /* Styling */
  cursor: pointer;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  background-color: rgba(255, 255, 255, 0);
  -webkit-box-shadow: inset 0 2px 32px rgba(0, 0, 0, 0.93);
  -moz-box-shadow: inset 0 2px 32px rgba(0, 0, 0, 0.93);
  box-shadow: inset 0 2px 32px rgba(0, 0, 0, 0.93);
}
.hello-button#or {
  font-size: 16px;
  font-style: italic;
  margin-left: 12px;
  margin-right: 12px;
}
.hello-button#register-outline {
  width: 139px;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  background-color: rgba(255, 255, 255, 0);
  -webkit-box-shadow: inset 0 2px 32px rgba(0, 0, 0, 0.93);
  -moz-box-shadow: inset 0 2px 32px rgba(0, 0, 0, 0.93);
  box-shadow: inset 0 2px 32px rgba(0, 0, 0, 0.93);
}
.hello-button#register-outline #register {
  width: 126px;
  height: 31px;
  line-height: 31px;
  margin: 6px 0px 0px 6px;
  /* Background */
  border-radius: 14px;
  -moz-border-radius: 14px;
  -webkit-border-radius: 14px;
  background-color: #d94636;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
  background-image: -webkit-linear-gradient(bottom, #ed1810, #f74d37);
  background-image: -moz-linear-gradient(bottom, #ed1810, #f74d37);
  background-image: -o-linear-gradient(bottom, #ed1810, #f74d37);
  background-image: linear-gradient(to top, #ed1810, #f74d37);
  /* Font */
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
}
/* FEATURES */
#features i {
  color: #fffefe;
  background-color: #f2412e;
  border: 1px solid #f2412e;
  border-radius: 50%;
  padding: 5px;
}
#features h2 {
  font-size: 20px;
  font-weight: bold;
  color: #303030;
  padding-right: 40px;
}
#features p {
  padding-right: 40px;
  font-size: 14px;
  color: #2d2d2d;
  text-align: justify;
}
/* General */
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.inline-block {
  display: inline-block;
}
