### Raw assets ###
/assets/

### Confidential data ###
/src/main/webapp/WEB-INF/classes/production.properties

### Compiled files ###
/src/main/webapp/resources/css/generated
/src/main/resources/META-INF/resources/css/generated

### Java build files ###
*.class
*.jar
*.war
*.ear
/target/

### JSF local configs ###
/faces-config.NavData

### Log files ###
*.log

### Maven release files ###
*.xml.releaseBackup
/release.properties

### NetBeans ###
nbproject/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
build.xml
build.properties

### IntelliJ ###
*.iml
*.ipr
*.iws
.idea/

### Mac OS ###
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

### Windows ###
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
