/* line 1, /Users/MacYser/Documents/Workspaces/NetBeansWorkspace/wlc-webapp/src/main/webapp/WEB-INF/frontend/less/admin/logged-in.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/MacYser\/Documents\/Workspaces\/NetBeansWorkspace\/wlc-webapp\/src\/main\/webapp\/WEB-INF\/frontend\/less\/admin\/logged-in\.less}line{font-family:\000031}}
#top-grid {
  background-color: #f9f9f9;
  height: 85px;
  margin-bottom: 15px;
}
/* line 7, /Users/MacYser/Documents/Workspaces/NetBeansWorkspace/wlc-webapp/src/main/webapp/WEB-INF/frontend/less/admin/logged-in.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/MacYser\/Documents\/Workspaces\/NetBeansWorkspace\/wlc-webapp\/src\/main\/webapp\/WEB-INF\/frontend\/less\/admin\/logged-in\.less}line{font-family:\000037}}
#content {
  padding-right: 1em;
}
/* line 12, /Users/MacYser/Documents/Workspaces/NetBeansWorkspace/wlc-webapp/src/main/webapp/WEB-INF/frontend/less/admin/logged-in.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/MacYser\/Documents\/Workspaces\/NetBeansWorkspace\/wlc-webapp\/src\/main\/webapp\/WEB-INF\/frontend\/less\/admin\/logged-in\.less}line{font-family:\0000312}}
#sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 17, /Users/MacYser/Documents/Workspaces/NetBeansWorkspace/wlc-webapp/src/main/webapp/WEB-INF/frontend/less/admin/logged-in.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/MacYser\/Documents\/Workspaces\/NetBeansWorkspace\/wlc-webapp\/src\/main\/webapp\/WEB-INF\/frontend\/less\/admin\/logged-in\.less}line{font-family:\0000317}}
#sidebar ul li a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #333333;
}
/* line 22, /Users/MacYser/Documents/Workspaces/NetBeansWorkspace/wlc-webapp/src/main/webapp/WEB-INF/frontend/less/admin/logged-in.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/MacYser\/Documents\/Workspaces\/NetBeansWorkspace\/wlc-webapp\/src\/main\/webapp\/WEB-INF\/frontend\/less\/admin\/logged-in\.less}line{font-family:\0000322}}
#sidebar ul li a.active {
  color: white;
  background-color: #1f8dd6;
}
/* line 32, /Users/MacYser/Documents/Workspaces/NetBeansWorkspace/wlc-webapp/src/main/webapp/WEB-INF/frontend/less/admin/logged-in.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/MacYser\/Documents\/Workspaces\/NetBeansWorkspace\/wlc-webapp\/src\/main\/webapp\/WEB-INF\/frontend\/less\/admin\/logged-in\.less}line{font-family:\0000332}}
#pagination-holder ul {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}
/* line 37, /Users/MacYser/Documents/Workspaces/NetBeansWorkspace/wlc-webapp/src/main/webapp/WEB-INF/frontend/less/admin/logged-in.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/MacYser\/Documents\/Workspaces\/NetBeansWorkspace\/wlc-webapp\/src\/main\/webapp\/WEB-INF\/frontend\/less\/admin\/logged-in\.less}line{font-family:\0000337}}
#pagination-holder ul li {
  display: inline;
}
/* line 40, /Users/MacYser/Documents/Workspaces/NetBeansWorkspace/wlc-webapp/src/main/webapp/WEB-INF/frontend/less/admin/logged-in.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/MacYser\/Documents\/Workspaces\/NetBeansWorkspace\/wlc-webapp\/src\/main\/webapp\/WEB-INF\/frontend\/less\/admin\/logged-in\.less}line{font-family:\0000340}}
#pagination-holder ul li:first-child a,
#pagination-holder ul li:first-child span {
  margin-left: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
/* line 47, /Users/MacYser/Documents/Workspaces/NetBeansWorkspace/wlc-webapp/src/main/webapp/WEB-INF/frontend/less/admin/logged-in.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/MacYser\/Documents\/Workspaces\/NetBeansWorkspace\/wlc-webapp\/src\/main\/webapp\/WEB-INF\/frontend\/less\/admin\/logged-in\.less}line{font-family:\0000347}}
#pagination-holder ul li:last-child a,
#pagination-holder ul li:last-child span {
  margin-left: 0;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
/* line 54, /Users/MacYser/Documents/Workspaces/NetBeansWorkspace/wlc-webapp/src/main/webapp/WEB-INF/frontend/less/admin/logged-in.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/MacYser\/Documents\/Workspaces\/NetBeansWorkspace\/wlc-webapp\/src\/main\/webapp\/WEB-INF\/frontend\/less\/admin\/logged-in\.less}line{font-family:\0000354}}
#pagination-holder ul li:not(:first-child):not(:last-child).active a,
#pagination-holder ul li:not(:first-child):not(:last-child).active span {
  background-color: #428bca;
  color: white;
}
/* line 60, /Users/MacYser/Documents/Workspaces/NetBeansWorkspace/wlc-webapp/src/main/webapp/WEB-INF/frontend/less/admin/logged-in.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/MacYser\/Documents\/Workspaces\/NetBeansWorkspace\/wlc-webapp\/src\/main\/webapp\/WEB-INF\/frontend\/less\/admin\/logged-in\.less}line{font-family:\0000360}}
#pagination-holder ul li a,
#pagination-holder ul li span {
  color: #428bca;
  position: relative;
  float: left;
  padding: 6px 12px;
  text-decoration: none;
  background-color: #ffffff;
  border-left: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}
/* line 71, /Users/MacYser/Documents/Workspaces/NetBeansWorkspace/wlc-webapp/src/main/webapp/WEB-INF/frontend/less/admin/logged-in.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/MacYser\/Documents\/Workspaces\/NetBeansWorkspace\/wlc-webapp\/src\/main\/webapp\/WEB-INF\/frontend\/less\/admin\/logged-in\.less}line{font-family:\0000371}}
#pagination-holder ul li a:last-child,
#pagination-holder ul li span:last-child {
  border-right: 1px solid #dddddd;
}
/* line 79, /Users/MacYser/Documents/Workspaces/NetBeansWorkspace/wlc-webapp/src/main/webapp/WEB-INF/frontend/less/admin/logged-in.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/MacYser\/Documents\/Workspaces\/NetBeansWorkspace\/wlc-webapp\/src\/main\/webapp\/WEB-INF\/frontend\/less\/admin\/logged-in\.less}line{font-family:\0000379}}
.page-header {
  margin-bottom: 20px;
  border-bottom: 1px solid #eeeeee;
}
/* line 89, /Users/MacYser/Documents/Workspaces/NetBeansWorkspace/wlc-webapp/src/main/webapp/WEB-INF/frontend/less/admin/logged-in.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/MacYser\/Documents\/Workspaces\/NetBeansWorkspace\/wlc-webapp\/src\/main\/webapp\/WEB-INF\/frontend\/less\/admin\/logged-in\.less}line{font-family:\0000389}}
.layout-wrapper {
  max-width: 895px;
  margin: 0 auto;
}
