@import "../../../libs/lesshat/3.0.2/lesshat-prefixed.less";
@import "../../import/variables.less";

@box-width: 100%;

#grid-videos {
  padding-bottom: 20px;

  .container {
    margin-top: -15px;
    width: @box-width;
    dt {
      .lh-border-radius(5px);
      .lh-box-shadow(0 1px 1px rgba(0,0,0,1));
      .lh-user-select(none);
      background: #eceff3;
      cursor: pointer;
      float: left;
      margin-top: 15px;
      padding: 5px;
      width: @box-width;
    }
    dd {
      .lh-border-radius(0 0 5px 5px);
      .lh-box-shadow(0 1px 1px rgba(0,0,0,1));
      display: none;
      float: left;
      padding: 10px 10px 15px 10px;
      width: @box-width;
    }
    .button {
      float: right;
      display: block;
      height: 18px;
      width: 17px;
      text-indent: -9999px;
      background: url("#{resource['images:temp/accordion.png']}") right no-repeat; 
      &.closed { 
        background: url("#{resource['images:temp/accordion.png']}") left no-repeat; 
      }
    }
    iframe {
      max-width: 100%;
    }
  }
}
