#grid-sponsor-list {
  .sponsor-logo {    
    background-size: cover;
    display: inline-block;

    &.intel {
      width: 220px;
      height: 202px;   

      background-image: url("#{resource['images/sponsors:intel_software_logo.jpg']}");      
    }
  }
}