/* Variables */
/* Mixins */
body.desktop .sidebar-widget:hover {
  right: 0px;
}
body.mobile .sidebar-widget.hover {
  right: 0px;
}
body.desktop .sidebar-widget .sidebar-icon {
  width: 34px;
  left: -34px;
}
body.mobile .sidebar-widget .sidebar-icon {
  width: 54px;
  left: -54px;
}
.sidebar-widget {
  position: fixed;
  right: -245px;
  top: 220px;
  width: 245px;
  transition: right 0.8s;
  -o-transition: right 0.8s;
  -ms-transition: right 0.8s;
  -moz-transition: right 0.8s;
  -webkit-transition: right 0.8s;
}
.sidebar-widget .sidebar-icon {
  float: left;
  position: relative;
  height: 60px;
  cursor: pointer;
  -webkit-user-select: none;
}
.sidebar-widget .sidebar-content {
  float: right;
  position: relative;
}
.sidebar-widget .sidebar-content .fb_iframe_widget span {
  max-width: 285px !important;
  overflow: hidden;
}
#facebook-widget.sidebar-widget {
  top: 220px;
  height: 389px;
}
#facebook-widget.sidebar-widget #facebook-widget-icon {
  background: #3b5998 url("../images/facebook-button.png") no-repeat center;
}
#facebook-widget.sidebar-widget #facebook-widget-content {
  top: -60px;
  width: 237px;
  height: 389px;
  background-color: #ffffff;
  border: 4px solid #3b5998;
}
#apps-widget.sidebar-widget {
  top: 300px;
  height: 399px;
}
#apps-widget.sidebar-widget #apps-widget-icon {
  background-color: #f2412e;
  text-align: center;
  color: #ffffff;
  line-height: 60px;
  font-size: 48px;
}
#apps-widget.sidebar-widget #apps-widget-content {
  float: right;
  position: relative;
  top: -60px;
  background-color: #ffffff;
  border: 4px solid #f2412e;
  text-align: center;
  width: 217px;
  height: auto;
  padding: 10px;
}
