@import "../../libs/lesshat/3.0.2/lesshat-prefixed.less";
@import "../import/variables.less";

// Pure CSS customization
body,
.pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"] {
  // http://purecss.io/grids/#using-grids-with-custom-fonts
  font-family: "Open Sans", sans-serif;
}

.pure-g-r div[class^="pure-u"],
.pure-g div[class^="pure-u"] {
  .padding-content();
}

.pure-button {
  &.button-success,
  &.button-error,
  &.button-warning,
  &.button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  }

  &.button-success {
    background: rgb(28, 184, 65); 
  }

  &.button-error {
    background: rgb(202, 60, 60); 
  }

  &.button-warning {
    background: rgb(223, 117, 20);
  }

  &.button-secondary {
    background: rgb(66, 184, 221); 
  }
}

* {
  .lh-box-sizing(border-box);
}


*:before, *:after {
  .lh-box-sizing(border-box);
}

// Basic Grid layout
.layout-wrapper {
  max-width: 960px;
  margin: 0 auto; 
}

#center {
  background-color: white;
  background-image: url("#{resource['images:noise.png']}");
}

html {
  background-color: #FFF;
  background-image: url("#{resource['images:chalkboard-gray-500_interlaced.png']}");
}

body {
  h1 {
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    .padding-content();
  }
  a {
    color: @color-text-link;
    text-decoration: none;
  }
  p {
    line-height: 1.6em;
  }
  .table {
    display: table;
    border-spacing: 2px;
    &.center {
      margin: 0 auto;
    }
    .thead {
      display: table-header-group;
      vertical-align: middle;
      border-color: inherit;
    }
    .tbody {
      display: table-row-group;
      vertical-align: middle;
      border-color: inherit;
    }
    .th {
      font-weight: bold;
    }
    .tr {
      display: table-row;
      vertical-align: inherit;
      border-color: inherit;
    }
    .td, .th {
      display: table-cell;
      vertical-align: inherit;
    }
  }
  ul {
    li {
      line-height: 1.8em;
    }
  }
  ul.clickable-list li a {
    display: block;
  }
}

.content.container {
  margin-bottom: 15px;
}

hr {
  background: url("#{resource['images:divider.png']}") center no-repeat;
  border: 0;
  height: 16px;
}

.clear-both {
  clear: both;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.inline-block {
  display: inline-block;
}