/* Overrides */
html {
  background-image: url("#{resource['images:chalkboard-gray-500_interlaced.png']}") !important;

  #top-wrapper,
  #footer-wrapper {
    background: none !important;
  }
}

// Facebook Likebox
.fb-like { 
  background-color: whitesmoke;
  padding: 4px;
  visibility: visible;
  &.off {
    visibility: hidden;
  }
  > span {
    max-width: 100%;
  }
}