<?xml version="1.0" encoding="UTF-8"?>
<web-app 
  version="3.1" 
  xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
  <display-name>We Love Coding - Web App</display-name>
  <!-- Project -->
  <context-param>
    <param-name>javax.faces.PROJECT_STAGE</param-name>
    <param-value>Development</param-value>
  </context-param>
  <!-- Servlet declarations -->
  <!-- Jersey -->
  <servlet>
    <servlet-name>Jersey Web Application</servlet-name>
    <!-- http://stackoverflow.com/a/17772352/451634 -->
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
    <!-- DEBUG -->
    <!--    <init-param>
      <param-name>com.sun.jersey.spi.container.ContainerRequestFilters</param-name>
      <param-value>com.sun.jersey.api.container.filter.LoggingFilter</param-value>
    </init-param>
    <init-param>
      <param-name>com.sun.jersey.spi.container.ContainerResponseFilters</param-name>
      <param-value>com.sun.jersey.api.container.filter.LoggingFilter</param-value>
    </init-param>-->
    <init-param>
      <param-name>com.sun.jersey.config.property.packages</param-name>
      <param-value>de.fhb.rest</param-value>
    </init-param>
    <init-param>
      <param-name>jersey.config.server.provider.scanning.recursive</param-name>
      <param-value>false</param-value>
    </init-param>
    <init-param>
      <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
      <param-value>true</param-value>
    </init-param>    
    <load-on-startup>1</load-on-startup>
  </servlet>
  <!-- JSF -->
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <!-- Servlet mappings -->
  <!-- JSF -->
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>*.xhtml</url-pattern>
  </servlet-mapping>
  <!-- Jersey -->
  <servlet-mapping>
    <servlet-name>Jersey Web Application</servlet-name>
    <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>
      30
    </session-timeout>
  </session-config>
  <!-- Filters -->
  <filter>
    <filter-name>AdminPagesFilter</filter-name>
    <filter-class>com.welovecoding.web.security.AdminPagesFilter</filter-class>
  </filter>
  <!-- Filter mappings -->
  <filter-mapping>
    <filter-name>AdminPagesFilter</filter-name>
    <url-pattern>/admin/*</url-pattern>
  </filter-mapping>
  <!-- Security Constraints -->
  <!-- http://stackoverflow.com/a/9033567/451634 -->
  <security-constraint>
    <display-name>Restrict direct access to the /resources folder.</display-name>
    <web-resource-collection>
      <web-resource-name>The /resources folder.</web-resource-name>
      <url-pattern>/resources/*</url-pattern>
    </web-resource-collection>
    <auth-constraint />
  </security-constraint> 
  <!-- Homepages -->
  <welcome-file-list>
    <welcome-file>index.xhtml</welcome-file>
    <welcome-file>List.xhtml</welcome-file>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>
