<?xml version="1.0" encoding="UTF-8"?>
<web-app 
  version="3.1" 
  xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
  <display-name>We Love Coding - Web App</display-name>
  <!-- Project -->
  <context-param>
    <param-name>javax.faces.PROJECT_STAGE</param-name>
    <param-value>Development</param-value>
  </context-param>
  <!-- http://docs.oracle.com/javaee/6/tutorial/doc/gircz.html#gkcrg -->
  <context-param>
    <param-name>javax.faces.INTERPRET_EMPTY_STRING_SUBMITTED_VALUES_AS_NULL</param-name>
    <param-value>true</param-value>
  </context-param>
  <!-- http://stackoverflow.com/questions/18789547/viewexpiredexception-when-i-use-viewscoped -->
  <context-param>
    <param-name>javax.faces.SERIALIZE_SERVER_STATE</param-name>
    <param-value>true</param-value>
  </context-param>
  <!-- Servlet declarations -->
  <!-- JSF -->
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <!-- Servlet mappings -->
  <!-- JSF -->
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>*.xhtml</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
    <cookie-config>
      <name>id</name>
      <http-only>true</http-only>
      <secure>true</secure>
    </cookie-config>
    <tracking-mode>COOKIE</tracking-mode>
  </session-config>
  <!-- Admin page filter -->
  <!--  <filter>
    <filter-name>AdminPagesFilter</filter-name>
    <filter-class>com.welovecoding.web.security.AdminPagesFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AdminPagesFilter</filter-name>
    <url-pattern>/admin/*</url-pattern>
  </filter-mapping>-->
  <!-- Security Constraints -->
  <!-- http://stackoverflow.com/a/9033567/451634 -->
  <security-constraint>
    <display-name>Restrict direct access to the /resources folder.</display-name>
    <web-resource-collection>
      <web-resource-name>The /resources folder.</web-resource-name>
      <url-pattern>/resources/wlc</url-pattern>
    </web-resource-collection>
    <auth-constraint />
  </security-constraint> 
  <!-- Homepages -->
  <welcome-file-list>
    <welcome-file>index.xhtml</welcome-file>
    <welcome-file>List.xhtml</welcome-file>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>
